<style>
	.login-form {
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .login-form input {
    margin-bottom: 5px;
  }

  .login {
    background: rgba(128, 128, 128, 0.8);
    color: white;
    border: rgba(128, 128, 128, 0.8);
  }

  .demo {
    margin-top: 0;
    background: rgba(87, 173, 104, 0.8);
    color: white;
    border: rgba(87, 173, 104, 0.8);
  }

  .login:hover {
    background: rgba(128, 128, 128, 1);
    border: rgba(128, 128, 128, 1);
    color: white;
  }

  .demo:hover {
    background: rgba(87, 173, 104, 1);
    border: rgba(87, 173, 104, 1);
    color: white;
  }
</style>

<div class="login-page">
	<div class="login-form input-group">
		<h1>Sign In</h1>
		<form action="/session" method="POST">

			<input type="hidden"
						 name="authenticity_token"
						 value="<%= form_authenticity_token %>">

			<input type="text"
						 name="user[email]"
						 placeholder="Email"
						 class="email form-control login-input">
			<br>
      <br>
			<input type="password"
						 name="user[password]"
						 placeholder="Password"
						 class="password form-control login-input">
			<br>

			<input type="submit" value="get writing" class="login btn btn-large btn-primary">

		</form>

	<button class="demo btn btn-large btn-primary">take a tour</button>
	</div>
</div>

<script>
$('.demo').click(function(){
   event.preventDefault();
   $("input[name='user[email]']").val('guest');
   $("input[name='user[password]']").val('password');
   $('.login').click();
 })
</script>
