<style>
	.navbar {
		background: transparent;
	}

	.navbar .btn {
		background: transparent !important;
		border: 1px solid white !important;
		color: white !important;
	}

	.navbar .btn:active {
		background: rgba(0,0,0,0.5) !important;
	}

	::-webkit-input-placeholder {
    color: white !important;
	}

	:-moz-placeholder {
   color: white !important;
	}

	::-moz-placeholder {
   color: white !important;
	}

	:-ms-input-placeholder {
   color: white !important
	}

	.navbar .navbar-header:after {
		content: "Large" !important;
		font-family: 'Ultra', serif;
		color: white;
		font-size: 30px;
		padding: 20px;
		margin-top: -10px;
	}

	.navbar-brand {
		display: none;
	}

	body {
		background-image: url(http://i.imgur.com/63ZMxHo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.slogan {
		font-family: 'Josefin Sans', sans-serif;
		font-size: 80px;
		color: white;
		width: 100%;
		padding-top: 50px;
		text-align: center;
	}

	.login-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
		padding-top: 50px;
  }

  .login-form input {
		background: transparent;
    margin-bottom: 5px;
		border: 1px solid white;
		color: white;
  }

  .login {
    background: rgba(128, 128, 128, 0.1) !important;
    color: white;
    border: 1px solid white;
  }

  .demo {
    margin-top: 0;
    background: rgba(87, 173, 104, 0.5);
    color: white;
    border: 1px solid white;
  }

  .login:hover {
    background: rgba(128, 128, 128, 0.4) !important;
    border: 1px solid white;
    color: white;
  }

  .demo:hover {
    background: rgba(87, 173, 104, 0.7);
    border: 1px solid white !important;
    color: white;
  }
</style>

<div class="login-page">
	<div class="slogan">Curl up with a <strong>BIG</strong> idea</div>
	<div class="login-form input-group">
		<form action="/session" method="POST">

			<input type="hidden"
						 name="authenticity_token"
						 value="<%= form_authenticity_token %>">

			<input type="text"
						 name="user[email]"
						 placeholder="Email"
						 class="email form-control login-input">
			<br>
      <br>
			<input type="password"
						 name="user[password]"
						 placeholder="Password"
						 class="password form-control login-input">
			<br>

			<input type="submit" value="get writing" class="login btn btn-large btn-primary">

		</form>

	<button class="demo btn btn-large btn-primary">take a tour</button>
	</div>
</div>

<script>

$('.demo').click(function(event){
   event.preventDefault();
   $("input[name='user[email]']").val('guest');
   $("input[name='user[password]']").val('password');
   $('.login').click();
 })
</script>
