<li class="user-edit-toggle"><button style="margin-left:0; border:1px solid rgba(87, 173, 104, 1); color:rgba(87, 173, 104, 1);"
            id="confirm"
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#confirmPublish">
      Edit profile</button>
</li>
