<div class="user-show-header">
  <h1><%= user.escape('email') %></h1>
  <h3><%= user.escape('description') %></h3>
  <strong>Followers: <%= followers %><br>
  Following: <%= followings %></strong>
  <br>
  <button class="follow">Follow</button>
</div>
<br>
<ul class="user-stories">
</ul>
