<h1><%= user.escape('email') %></h1>
<h3><%= user.escape('description') %></h3>
<strong>Followers: <%= followers %><br>
Following: <%= followings %></strong>
<br>
<button class="follow">Follow</button>
<br>
<ul class="user-stories">
</ul>
