<style>

	.navbar {
		background: transparent;
		border-bottom: 1px solid black;
	}

	.navbar .btn {
		background: rgba(255, 255, 255, 0.5);
		border: 1px solid black;
		color: black;
	}

	.navbar .navbar-header:after {
		content: "Large" !important;
		font-family: 'Ultra', serif;
		color: black;
		font-size: 30px;
		padding: 20px;
		margin-top: -10px;
	}

	.navbar-brand {
		display: none;
	}

	body {
		background-image: url(http://i.imgur.com/D9s5PeJ.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.login-form {
		background: rgba(255, 255, 255, 0.5);
		padding: 50px;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .login-form input {
		background: rgba(255, 255, 255, 0.7);
    margin-bottom: 5px;
		border: 1px solid black;
  }

	h1 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: bold;
	}

  .login {
    color: black;
  }

  .login:hover {
    background: rgba(87, 173, 104, 1);
    border: rgba(87, 173, 104, 1);
    color: white;
  }
</style>

<div class="login-page">
	<div class="login-form input-group">
		<h1>Sign Up</h1>
		<form action="/users" method="POST">

			<input type="hidden"
						 name="authenticity_token"
						 value="<%= form_authenticity_token %>">

			<input type="text"
						 name="user[email]"
						 placeholder="Email"
						 class="email form-control login-input">
			<br>
      <br>
			<input type="password"
						 name="user[password]"
						 placeholder="Password"
						 class="password form-control login-input">
			<br>

			<input type="submit" value="sign up!" class="login btn btn-large btn-primary">

		</form>
	</div>
</div>
