<div class="landing-page">
  <div class="feed">
    <div class="new">
      <div class="pre-click">
        <p><i class="fa fa-user"></i>    Write Here...</p>
      </div>
      <div class="post-click">
      </div>
    </div>
    <ul style="width:650px">
    </ul>
  </div>

  <div class="sidebar">
    <div class="tags">
      <t class="featured">FEATURED TAGS</t>
      <br>
      <div>
        <% tags.forEach( function (tag) { %>
          <a href="#tags/<%= tag.id %>">
            <button class="tag-button">
            <%= tag.escape('label') %>
            </button>
          </a>
        <% }) %>
      </div>
    </div>
    <div class="top-stories"><t class="featured">TOP STORIES ON LARGE</t>
    </div>
  </div>
</div>
