<div class="new">
  <div class="pre-click">
    <p><i class="fa fa-user"></i>    Write Here...</p>
  </div>
  <div class="post-click">
    <button id="close-new" class="btn btn-default">Close</button>
  </div>
</div>
<ul>
</ul>
