<div style="position:relative; z-index:-1000;" contenteditable='false' class="insert-toolbar">
  <button style="margin-right:5px;" class='new-insert btn btn-circle'>+</button>
  <div class="hidden-buttons">
    <button style="margin:0;" class='insert-pic btn btn-circle'>P</button>
    <button style="margin:0;" class='insert-line btn btn-circle'>L</button>
  </div>
</div>
