<div style="position:relative; z-index:-1000;" contenteditable='false' class="insert-toolbar">
  <button style="margin-right:5px; color:rgba(128, 128, 128, 0.5);" class='new-insert btn btn-circle'>+</button>
  <div style="visibility:hidden;"class="hidden-buttons">
    <button style="margin:0; color:rgba(128, 128, 128, 0.5);" class='insert-pic btn btn-circle'>
      <i style="margin-left:-1px" class="fa fa-camera"></i>
    </button>
    <button style="margin:0; color:rgba(128, 128, 128, 0.5);" class='insert-line btn btn-circle'>--</button>
  </div>
</div>
