<div contenteditable='false' class="insert-toolbar">
  <button class='new-insert btn btn-circle'>+</button>
  <div class="hidden-buttons">
    <button class='insert-pic btn btn-circle'>
      <i style="margin-left:-1px" class="fa fa-camera"></i>
    </button>
    <button class='insert-line btn btn-circle'>--</button>
  </div>
</div>
