<li id='add-dropdown' class='dropdown new-story-header'>
  <button
    style="margin-right:150px;"
    class='dropdown-toggle navbar-btn btn btn-primary'
    data-toggle='dropdown'><span>Add \/ </span>
  </button>
  <ul style="padding:15px;" class="dropdown-menu" role="menu"><strong>Add your draft to a publication</strong>
    <% publications.forEach( function(pub) { %>
    <li><input type="checkbox" name="story[pub_id]" value="<%= pub.id %>" form="confirm-form">
      <%= pub.escape('title') %><br>
    </li>
    <% }) %>
  </ul>
</li>
<li><button style="margin-left:0; border:1px solid rgba(87, 173, 104, 1); color:rgba(87, 173, 104, 1);" id="confirm" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmPublish">Publish</button>
</li>
