<i style="font-size: 20px;" class="fa fa-user"></i>
<div class="fragment">
  <div class="editable">
    <div class="title"><p id="title"><br></p></div>
    <div class="subtitle"><p id="subtitle"><br></p></div>
    <div id="story-body">
      <p><br></p>
    </div>
  </div>
</div>
<button class="publish btn btn-primary">Publish</button>
<button id="close-new" class="btn btn-default">Close</button>
<button class="expand btn btn-default"><i class="fa fa-expand"></i></button>
