<i style="font-size: 20px;" class="fa fa-user"></i>
<div class="fragment">
  <div style="margin-left:-20px; width:650px;" class="editable">
    <p><br></p>
    <p><br></p>
    <p><br></p>
  </div>
</div>
<button class="publish btn btn-primary">Publish</button>
<button id="close-new" class="btn btn-default">Close</button>
<button class="expand btn btn-default"><i class="fa fa-expand"></i></button>
