<div class="fragment">
  <div style="margin-left:-20px;" class="editable">
    <p data-toggle="tooltip" title="Highlight the text to style it"><br></p>
    <p><br></p>
    <p><br></p>
  </div>
</div>
<button class="publish btn btn-primary">Publish</button>
<button id="close-new" class="btn btn-default">Close</button>
<button class="expand btn btn-default" data-toggle="tooltip" title="Expand to a full screen editor">
  <i class="fa fa-expand"></i>
</button>

<div class="modal fade" id="blankStoryError" tabindex="-1" role="dialog" aria-labelledby="blankErrorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="text-align:center; border:none;" class="modal-header">
        <div class="modal-title" id="blankErrorLabel">Story can't be blank.</div>
      </div>
    </div>
  </div>
</div>
