<div class="image"></div>
<button id="confirm"
            type="button"
            class="btn btn-primary">
      Publish</button>
<div class="header-setter">
  <button id="header-imager" data-toggle="tooltip" title="Add a header image"><i class="fa fa-ellipsis-h"></i></button><br>
  <button id="header-image"><i class="fa fa-image"></i></button>
</div>
<div class="new-story">
  <% if (story.get('body') === undefined) {%>
    <div class="editable" id="title">
      <p style="font-size:50px; font-weight:bold" class="title show-placeholder" data-toggle="tooltip" title="Highlight the text to style it"><br></p>
    </div>
    <div class="editable" id="subtitle">
      <p style="font-size:35px; font-style:italic" class="subtitle show-placeholder" data-toggle="tooltip" title="Highlight the text to style it"><br></p>
    </div>
    <div class="editable" id="body">
      <p><br></p>
    </div>
  <% } else { %>
    <div class="editable" id="body">
      <%= story.get('body') %>
    </div>
  <% } %>
  </div>
<br>

<div class="modal fade" id="confirmPublish" tabindex="-1" role="dialog" aria-labelledby="confirmPublishLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="text-align:center; border:none;" class="modal-header">
        <h3 class="modal-title" id="confirmPublishLabel">Ready to publish?</h3>
        <div>Change your story's title and subtitle as needed</div>
      </div>
      <div class="modal-body">
        <form id="confirm-form" class="confirm-form">
          <div class="form-group">
            <input id="modal-title" type="text" name="story[title]"><br>
          </div>
          <div class="form-group">
            <input id="modal-subtitle" type="text" name="story[subtitle]"><br>
          </div>
        </form>
      </div>
      <div style="float:left; margin-bottom:-5px; padding-left:30px; font-size:14; font-style:italic; color:rgba(128, 128, 128, 0.8);">
        Add up to three tags...
      </div>
      <div style="border:none;" class="modal-footer">
        <select style="float:left; width:400px; margin-left:10px;"
               id="tags-select"
               class="selectivity-input">
        </select>
        <button style="margin:0;" id="submit-confirm" type="submit" class="btn btn-primary">Publish</button>
        <button style="margin:0;" type="button" class="btn btn-default closer" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="blankStoryError" tabindex="-1" role="dialog" aria-labelledby="blankErrorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="text-align:center; border:none;" class="modal-header">
        <div class="modal-title" id="blankErrorLabel">Publication will become available after you start writing.</div>
      </div>
    </div>
  </div>
</div>

</div>
