<div class="header-setter">
  <button id="header-imager"><i class="fa fa-ellipsis-h"></i></button><br>
  <button id="header-image"><i class="fa fa-image"></i></button>
</div>

<div class="new-story">
  <select name="story[pub_id]" form="confirm-form">
      <option value="">Submit to a Publication</option>
      <% publications.forEach( function(pub) { %>
      <option value="<%= pub.id %>"><%= pub.escape('title') %></option>
      <% }) %>
  </select><br>
  <div class="editable">
    <h1><p id="title">Title</p></h1>
    <h3><p id="subtitle">Tell your story...</p></h3>
    <div id="story-body">
      <p><br></p>
    </div>
  </div>

<button id="confirm" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmPublish">Publish</button>


<div class="modal fade" id="confirmPublish" tabindex="-1" role="dialog" aria-labelledby="confirmPublishLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="confirmPublishLabel">Ready to publish?</h3>
        <p>Change your story's title and subtitle as needed</p>
      </div>
      <div class="modal-body">
        <form id="confirm-form" class="confirm-form">
          <div class="form-group">
            <input id="modal-title" type="text" name="story[title]"><br>
          </div>
          <div class="form-group">
            <input id="modal-subtitle" type="text" name="story[subtitle]"><br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <input type="text" form="confirm-form" placeholder="Add up to 3 tags">
        <button id="submit-confirm" type="submit" class="btn btn-primary">Publish</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
