<form class="story-form">
  <input type="text" name="story[title]" placeholder="Title"><br>
  <input type="text" name="story[subtitle]" placeholder="Tell your story..."><br>
  <input type="textarea" name="story[body]"><br>
  <input type="submit" value="Publish">
</form>
