<div class="header-setter">
  <button id="header-imager" form="form"><i class="fa fa-ellipsis-h"></i></button><br>
  <button id="header-image" form="form"><i class="fa fa-image"></i></button>
</div>

<div class="new-story">

<form class="story-form" id="form" enctype="multipart/form-data">
  <select name="story[pub_id]">
     <option value="">Submit to a Publication</option>
     <% publications.forEach( function(pub) { %>
     <option value="<%= pub.id %>"><%= pub.escape('title') %></option>
     <% }) %>
   </select><br>
  <h1><input id="title" class="editable" type="text" name="story[title]" placeholder="Title"></h1>
  <h3><input id="subtitle" type="text" name="story[subtitle]" placeholder="Tell your story..."></h3>
  <textarea id="body" name="story[body]" rows="10" cols="70" form="form">
  </textarea><br>
  <button id="image" class="btn btn-primary">Add Image</button>
  <button id="confirm" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmPublish">Publish</button>
</form>

<div class="modal fade" id="confirmPublish" tabindex="-1" role="dialog" aria-labelledby="confirmPublishLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="confirmPublishLabel">Ready to publish?</h3>
        <p>Change your story's title and subtitle as needed</p>
      </div>
      <div class="modal-body">
        <form class="confirm-form">
          <div class="form-group">
            <input id="modal-title" type="text" name="story[title]"><br>
          </div>
          <div class="form-group">
            <input id="modal-subtitle" type="text" name="story[subtitle]"><br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="submit-confirm" type="submit" class="btn btn-primary">Publish</button>
        <!-- <input type="submit" class="btn btn-primary" value="Publish"> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</div>
