/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require selectivity-full
 *= require medium-editor
 *= require themes/default
 *= require_tree .
 */

 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";


// links, buttons, navbar

nav {
  background: white;
  z-index: 1;
}

a {
  color: rgba(87, 173, 104, 1);
}

a:hover {
  color: rgba(57, 109, 77, 1);
  text-decoration: none !important;
}

.dropdown .dropdown-menu li.below a {
  color: rgba(128,128,128,0.5) !important;
}

.dropdown .dropdown-menu li.above a {
  color: rgba(128,128,128,1);
  font-size: 16px;
}

.navbar:after, .navbar:before {
  display: none;
}

.navbar-default {
  background: white;
  border-radius: 0px;
  border-left: none;
  border-top: none;
  border-right: none;
  height: 70px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header {
  height: 100%;
}

.navbar-right {
  margin-right: 30px;
  display: inherit;
}

.navbar-btn {
  margin: 10px !important;
}

.btn-circle {
  text-align: center;
  background: white;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1;
  border-radius: 25px;
  margin-top: 10px;
}

.btn-circle:focus {
  outline: none !important;
}

.btn-primary {
  height: 40px;
  border-radius: 24px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background: white;
  color: rgba(128, 128, 128, 0.7);
  border: 1px solid rgba(128, 128, 128, 0.5);
}

.btn-primary:hover {
  background: white;
  color: rgba(128, 128, 128, 1);
  border: 1px solid rgba(128, 128, 128, 1);
}

.btn-primary:focus {
  outline: none !important;
  color: rgba(128, 128, 128, 0.7) !important;
  background: white !important;
  border: 1px solid rgba(128, 128, 128, 0.5) !important;
}

.follow {
  background: transparent;
  color: rgba(87, 173, 104, 0.7);
  border: 1px solid rgba(87, 173, 104, 0.7);
}

.follow:hover {
  color: rgba(87, 173, 104, 1);
  border: 1px solid rgba(87, 173, 104, 1);
}

.navbar-brand {
  margin-left: 20px;
}

.btn-circle:hover {
  border: 1px solid rgba(128, 128, 128, 1);
}

.btn-sm {
  height: 35px;
}

.btn-default {
  border: none;
  margin-top: 10px;
  color: rgba(128, 128, 128, 0.5);
}

.btn-default:hover {
  background: white;
  color: rgba(128, 128, 128, 1);
}

.btn-default:focus {
  outline: none !important;
}

.tag-button {
  background:rgba(128,128,128, 0.05);
  outline:1px solid rgba(128,128,128, 0.3) !important;
  border:none;
  color:rgba(128,128,128,0.8);
  margin-top:10px;
  margin-right:10px;
}

.tag-button:active {
  outline:1px solid rgba(128,128,128, 0.3) !important;
  background:rgba(128,128,128, 0.2);
}

abbr {
  border-width: 0px !important;
}

abbr:hover {
  cursor: pointer;
}

/// search

#search input {
  font-size: 50px;
  border: none;
}

#search {
  padding: 20px;
}

// HOME SHOW

@media screen and (max-width: 1030px) {
  .sidebar {
    display: none;
  }
}

.landing-page {
  min-width: 575px;
  margin: 0 auto;
  z-index: -1;
}

.landing-page .feed {
  padding-left: 80px;
  margin-right: 300px;
  float: left;
}

#overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}

#overlay .landing-page {
  height: 100%;
}

.sidebar {
  position: fixed;
  float: right;
  left: calc(100% - 350px);
  background: rgba(128, 128, 128, 0.05);
  max-height: 100%;
  width: 350px;
  border-left: 1px solid rgba(128, 128, 128, 0.1);
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding: 30px;
  padding-top: 100px;
  overflow-y: auto;
}

#overlay ::-webkit-scrollbar {
    display: none;
}

.sidebar>* {
  max-width: 330px;
}

.tags div,
.top-stories ul {
 padding-top: 15px;
}

.top-stories ul li:last-child {
  border: none;
}

.sidebar .tags,
.sidebar .top-stories,
.sidebar .sidebar-footer {
  border-top: 1px solid rgba(128, 128, 128, 0.1);
  font-weight: bold;
  padding-top: 15px;
  font-size: 12px;
  width: 100%;
  padding-bottom: 40px;
}

.tags .tag-button {
  margin-bottom:0;
  margin-right:10px;
  background: white;
  font-size: 14px;
  font-weight: normal;
  outline: 1px solid rgba(128, 128, 128, 0.1) !important;
}

.top-stories li {
  margin-left: -40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: 80px;
}

.top-stories .btn {
  float: left;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  margin-right: 20px;
  color: rgba(128, 128, 128, 1) !important;
  border: 1px solid rgba(128, 128, 128, 0.1) !important;
}

.top-stories li a {
  font-weight: normal;
  color: black;
  font-size: 14px;
}

// new story MAIN

          .header-setter button {
            background: white;
            border-radius: 24px;
            border: 1px solid rgba(128, 128, 128, 0.5);
            color: rgba(128, 128, 128, 0.5);
          }

          .new-story {
            margin-left: auto;
            margin-right: auto;
            width: 70%;
          }

          .new-story > .editable {
            position: relative;
            margin: 0;
          }

          .header-setter {
            float: left;
            padding-top: 60px;
            margin-left: 40px;
          }

          #header-image {
            display: none;
            margin-top: 5px;
          }

          #header-imager {
            width: 30px;
          }

          .header-setter:hover #header-image {
            display: block;
          }

            .editable {
              position: relative;
              font-size: 24px;
              font-family: serif;
              margin-left: 30px;
              padding: 50px;
            }

            .editable p {
              // position: absolute;
              padding-left: 50px;
              // margin-top: -40px;
              width: 100%;
              height: auto;
              min-height: 40px;
              margin-bottom: 0px;
            }

            .editable p.title.show-placeholder:before {
              content: "Title";
              position: absolute;
              opacity: 0.6;
              z-index: -1;
            }

            .editable p.subtitle.show-placeholder:before {
              content: "Subtitle";
              position: absolute;
              opacity: 0.6;
              z-index: -1;
            }

            .new-insert {
              margin: 0;
              float: left;
              margin-right: 5px;
              color: rgba(128, 128, 128, 0.5);
              transition: all 0.2s ease;
              padding-top: 7px;
              font-size: 22px;
            }

            .hidden-buttons {
              visibility: hidden;
              opacity: 0;

              button {
                margin:0;
                margin-left: 10px;
                color:rgba(128, 128, 128, 0.5);
              }
            }

            .insert-toolbar {
              opacity: 0;
              margin-left: -50px;
              position:absolute;
              z-index:-1000;
              width: 300px;
            }

            .insert-toolbar.visible {
              .new-insert {
                -ms-transform: rotate(45deg); /* IE 9 */
                -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
                transform: rotate(45deg);
              }

              .hidden-buttons {
                visibility: visible;
                transition: all 0.3s ease;
                opacity: 1;
              }
            }

            #confirm {
              // margin:0px;
              // height:40px;
              // width:200px;
              // padding:5px;
              font-style:normal;
              font-family:sans-serif;
              // font-size:20px;
              border:1px solid rgba(87, 173, 104, 1);
              color:rgba(87, 173, 104, 1);
              position: absolute;
              z-index: 100;
              right: 280px;
              top: 5px;
            }

            .new-story-header button {
              background: white !important;
              border: 1px solid rgba(128,128,128,0.6) !important;
              color: rgba(128,128,128,0.6) !important;
              margin-right: 90px !important;
            }

            .new-story-header button:active {
              background: white !important;
            }

    .new {
      padding: 30px;
      margin-left: 10px;
    }

    .new .pre-click {
      font-family: "Times New Roman", Times, serif;
      font-size: 20px;
      display: block;
      color: rgba(128, 128, 128, 0.5);
    }

    .pre-click i {
      margin-right: 10px;
      color: black;
    }

    .pre-click:hover {
      cursor: text;
    }

    .new .post-click {
      display: none;
    }

    .publish {
      color: rgba(87, 173, 104, 0.7);
      border: 1px solid rgba(87, 173, 104, 0.7);
    }

    .publish:hover {
      color: rgba(87, 173, 104, 1);
      border: 1px solid rgba(87, 173, 104, 1);
    }

    .expand {
      margin-left: 350px;
      padding-top: 2px;
      padding-bottom: 2px;
      padding-right: 5px;
      padding-left: 5px;
      border: 1px solid rgba(128, 128, 128, 0.5);
    }


// new publication

.new-pub {
  margin-top: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.new-pub input {
  border: none;
  margin-top: 5px;
  width: 400px;
  text-align: center;
}

.new-pub h1,
.new-pub h3 {
  margin: 0;
}

#pub-icon {
  margin: 0;
  padding-top: 10px;
}

.new-pub > .pub-header-setter {
  height: auto;
  width: 100%;
  padding: 10px;
}

.pub-header-setter button,
.pub-header-setter input {
  background-color: transparent;
}

.movable {
  padding-top: 100px;
}
//

.style {
  background: white;
  border: none;
  color: rgba(128, 128, 128, 0.4);
}

.style:hover {
  color: rgba(128, 128, 128, 0.8);
}

.style:focus {
  color: rgba(87, 173, 104, 0.7);
}

.story-form input {
  border: none;
  margin-top: 5px;
  width: 400px;
}

.story-form textarea {
  border: none;
}

.form-group input {
  border: none;
  background: rgba(128, 128, 128, 0.05);
  width: 500px;
  font-size: 24px;
  font-family: serif;
  margin-left: 30px;
  padding-left: 5px;
}

ul {
  list-style-type: none;
}

*:focus {
  outline: none;
}

// story preview stuff

.preview {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.preview .img-container {
  width: 100%;
  height: 250px;
  margin-top: 10px;
  overflow: hidden;
}

.preview .img-container img {
  width: 100%;
  top: -50%;
  overflow: hidden;
}

.sub-preview {
  position: relative;
  z-index: 1000;
  word-wrap: break-word;
}

////

.pub-sections {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

#add-section:hover:after {
  content: " Add Section";
}

.pub-show-info {
  text-align: center;
}

.pub-stories {
  width: calc(100% - 40px);
}

.user-show-header {
  text-align: center;
}

.user-stories {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.response-header {
  text-align: center;
}

// story show navbar

.navbar-fixed-bottom {
  border-top: 1px solid rgba(128,128,128,0.1);
  height: 60px;
}

.story-footer button {
  margin-top: 10px;
  margin-left: 30px;
}

.story-footer a {
  margin-top: 22px;
  margin-left: 7px;
}

.story-footer t {
  color: rgba(128,128,128,0.8)
}

// story show image formatting:

.options a {
  color: rgba(128, 128, 128, 0.5) !important;
}

.options a:hover {
  color: rgba(128, 128, 128, 1) !important;
  background: transparent !important;
}

.story-show-header {
  font-family: serif;
}

.story-body {
  padding: 100px;
  font-family: serif;
  font-size: 24px;
}

.image {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.image img {
  height: auto;
  width: 100%;
  margin-bottom: -11%;
  margin-top: -8%;
}

//pub header image

.header-img {
  width: 100%;
  height: 600px;
  z-index: -1;
  top: 0;
  left: 0;
}

.pub-bg-normal {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

// publication about page

.about {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.8);
}

.about-pub {
  display: inline-block;
  width: 100%;
}

.about h3 {
  float: left;
  margin-bottom: 20px;
}

.about li {
  position: relative;
  min-height: 70px;
  // padding: 10px;
}
// .about .user-info {
//   text-align: left;
// }

.about .about-section .follow {
  float: right;
  margin-top: -10px;
  margin-right: 40px;

}

.about .pub-title {
  font-weight: normal;
}

.about h4 {
  font-family: serif;
  font-weight: normal;
  color: black;
}

.about-section {
  // position: relative;
  min-height: 100px;
  padding-top: 15px;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

// search show

.nav-tabs {
  position: relative;
  border: none !important;
  width: 200px;
  margin-left: 20px;
  float: left;
}

.nav-tabs li {
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.nav-tabs > li > a {
  border: 0;
  color: black;
}

.nav-tabs > li > a:hover {
  background: white;
  border: 0;
  margin-right: 0;
}

.nav-tabs .active {
  font-weight: bold;
  border-top: 2px solid black;
}

.nav-tabs > li.active > a {
  border: 0;
}

.nav-tabs > li.active > a:focus {
  border: 0;
}

.nav-tabs > li.active > a:hover {
  border: 0;
}

.tab-content {
  float: left;
  margin-left: 40px;
}

.pubs-results li,
.users-results li {
  padding: 10px;
}

#sectionC .pubs-results li,
#sectionB .users-results li {
  border-top: 1px solid rgba(128, 128, 128, 0.2) !important;
  padding: 20px;
}

#sectionA {
  position: relative;
}

#sectionA .stories-results {
  float: left;
  width: 500px;
  margin-right: 40px;
}

#sectionA .stories-results img {
  float: right;
}

#sectionA .pubs-results {
  margin-bottom: 40px;
}

#sectionA .up-pane {
  float: right;
  width: 175px;
}

#sectionA .follow {
  float: right;
  margin: 0;
}

#sectionB,
#sectionC {
  width: 450px;
}

#sectionC .pr-desc {
  width:300px;
}

#sectionB li,
#sectionC li {
  position: relative;
}

#sectionB .follow,
#sectionC .follow {
  float: right;
  margin-top: -40px;
}

.search-preview {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  padding-top: 20px;
  padding-bottom: 20px;
}

.tab-content ul {
  padding: 0;
  list-style-type: none;
}

.results-previews li {
  margin: 0;
  padding: 10px;
}

p.section-label {
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  margin-bottom: 0;
  padding-top: 10px;
}

// user show

button.info {
  outline: none;
  border: none;
  background: white;
}

p.num {
  font-size: 25px;
  font-weight: bold;
}

li.ur {
  padding: 10px;
  border-top: 2px solid rgba(128, 128, 128, 0.2);
}

li.pr {
  padding: 10px;
  border-top: 2px solid rgba(128, 128, 128, 0.2);
}

.modal-backdrop,
.modal-backdrop {
  opacity: 0.95 !important;
  background-color: rgba(255, 255, 255, 1);
}

#followingModal .modal-dialog,
#followersModal .modal-dialog,
#deleteModel .modal-dialog {
  width: 100%;
  height: 100%;
  background: none;
}

#followingModal .modal-content,
#followersModal .modal-content,
#deleteModal .modal-content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 100%;
  background: none;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: none;
}

#deleteModal .modal-body {
  padding-top: 100px;
}

#blankStoryError .modal-backdrop {
  opacity: 0 !important;
}

#blankStoryError .modal-content {
  margin-top: -35px !important;
  color: rgba(128,128,128, 0.9)
}

button.delete-story {
  color: rgba(255, 0, 0, 0.4);
  border: 1px solid rgba(255, 0, 0, 0.4);
}

button.delete-story:hover {
  color: rgba(255, 0, 0, 0.6);
  border: 1px solid rgba(255, 0, 0, 0.6);
}

#followingModal .modal-title,
#followersModal .modal-title,
#deleteModal .modal-title {
  padding-top: 30px;
}

#followingModal li,
#followersModal li {
  padding-top: 15px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%
}

#followingModal .user-info,
#followersModal .user-info {
  float: left;
  text-align: left;
}

#followingModal .follow,
#followersModal .follow {
  float: right;
  margin: 0;
}

// tag show page

.tag-show {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

// user edit page

.edit-buttons {
  margin-top:-70px;
  z-index:1000;
  padding-left:40px;
  margin-left:auto;
  margin-right:auto;
  width:30%;
  margin-bottom: 20px;
}

.save-edits {
  color: rgba(87, 173, 104, 0.7);
  border: 1px solid rgba(87, 173, 104, 0.7);
}

.save-edits:hover {
  color: rgba(87, 173, 104, 1);
  border: 1px solid rgba(87, 173, 104, 1);
}

.user-header-image {
  height: 300px;
  width: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

.user-header-image i {
  font-size: 50px;
  margin-top: 100px;
}

.user-header-image i:hover {
  cursor: pointer;
}

.user-show-header input {
  border: none;
  outline: none;
  text-align: center;
}

.user-icon-button {
  width:120px;
  height:120px;
  border-radius:50%;
  background: white;
  font-size: 50px;
  border: 5px solid (128, 128, 128, 0.1);
  margin-top: -75px;
}
