<form id="search">
  <input id="box" type="text" placeholder="Search Large" autofocus>
  <input type="submit">
</form>
<br>
<ul>
<% publications.forEach( function (pub) { %>
  <li><%= pub.escape('title') %></li>
<% }) %>
</ul>
