<form id="search">
  <input id="box" type="text" placeholder="Search Large" autofocus>
  <input type="submit">
</form>
<br>
<% if (params !== null) { %>
  <h4>Publications</h4>
  <% if (publications !== undefined) { %>
  <ul>
  <% publications.forEach( function (pub) { %>
    <li><%= pub.escape('title') %></li>
  <% }) %>
  </ul>
  <% } else { %>
    <ul>
      <li>Nothing to show</li>
    </ul>
  <% } %>
  <h4>Stories</h4>
  <% if (stories !== undefined) { %>
  <ul>
  <% stories.forEach( function (story) { %>
    <li><%= story.escape('title') %></li>
  <% }) %>
  </ul>
  <% } else { %>
    <ul>
      <li>Nothing to show</li>
    </ul>
  <% } %>
  <h4>Users</h4>
  <% if (users !== undefined) { %>
  <ul>
  <% users.forEach( function (user) { %>
    <li><%= user.escape('email') %></li>
  <% }) %>
  </ul>
  <% } else { %>
    <ul>
      <li>Nothing to show</li>
    </ul>
  <% } %>
<% } %>
