<form class="new-pub">

  <button id="align-left" class="style"><i class="fa fa-align-left"></i></button>
  <button id="align-center" class="style"><i class="fa fa-align-center"></i></button>
  <button id="pub-header-image" class="style"><i class="fa fa-image"></i></button>
  <br>
  <div class="pub-header-setter">
    <div class="movable">
      <button id="pub-icon" class="style"><i class="fa fa-camera fa-3x"></i></button>
      <h1><input type="text" class="head-text" name="publication[title]" placeholder="Optional heading"></h1>
      <h3><input type="text" class="head-text" name="publication[description]" placeholder="Optional description"></h3>
    </div>
  </div>
  <br>
  <select id="editors" class="selectivity-input">
  </select>
  <select id="writers" class="selectivity-input">
  </select>

  <br>
  <button type="submit" id="submit-new-pub" class="btn btn-primary">Create</button>
</form>
<br>

<!-- <div class="pub-sections">
  <button id="add-section" class="btn btn-primary btn-sm">+</button>
</div> -->
