<form class="new-pub">
  <input type="text" name="publication[title]" placeholder="Optional heading"><br>
  <input type="text" name="publication[description]" placeholder="Optional description"><br>
  <input type="submit" value="Create">
</form>
