<img src="<%= pub.escape('header_image') %>">

<h1><%= pub.escape('title') %></h1>
<h3><%= pub.escape('description') %></h3>
<button class="follow">Follow</button>
<br>
<ul class="pub-stories">
</ul>
